/* Configurações Gerais */
body {
    background-color: #1a1a2e; /* Cor de fundo 1 */
    color: #ffffff;            /* Cor do texto */
    font-family: Arial, sans-serif;
    text-align: center;        /* Centraliza os textos */
    margin: 30px;              /* Espaçamento externo */
}

.autor {
    font-size: 14px;
    color: #00ff88;
}

h1 {
    font-size: 32px;
    color: #00ff88;            /* Cor em destaque combinando */
}

.descricao {
    font-size: 18px;
    margin-bottom: 25px;
}

/* Tabuleiro Centralizado */
.tabuleiro {
    background-color: #16213e;  /* Cor de fundo 2 */
    width: 260px;
    margin: 0 auto;             /* Centraliza o container na tela */
    padding: 20px;              /* Espaçamento interno */
    border-radius: 15px;        /* Cantos arredondados */
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

/* Esconde as caixinhas de controle do checkbox */
input[type="checkbox"] {
    display: none;
}

/* Estilização da Carta */
.carta {
    width: 100px;
    height: 100px;
    background-color: #0f3460;
    border-radius: 10px;        /* Cantos arredondados */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
}

/* Efeito :hover ao passar o mouse na carta */
.carta:hover {
    background-color: #1f4068;
}

/* Esconde o emoji por padrão */
.frente {
    display: none;
}

/* LÓGICA DO JOGO EM CSS: */
/* Quando o checkbox é marcado (:checked), esconde a interrogação e mostra o emoji */
input[type="checkbox"]:checked + .carta .costas {
    display: none;
}

input[type="checkbox"]:checked + .carta .frente {
    display: block;
}

input[type="checkbox"]:checked + .carta {
    background-color: #00ff88;  /* Muda a cor da carta quando virada */
}